*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
  /* font-size: 16px; */
}
/* ------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* -------------------------------------- */
.page {
  flex: 1 1 auto;
}
/* -------------------------------------- */
/* -----------обнулення стилів для верстки ---------------- */
/* фонт сайз 16px браузер використовує за замовчуванням  */

/* -----------------------------------------------------------адаптивна сітка -------------------------------------------------- */
[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media screen and (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media screen and (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}
/* ___________________________________________Logo&Header-Nav__________________________________________________________ */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  min-height: 103px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
}
@media screen and (max-width: 768.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}
.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}
.header__menu {
}
/* ----------------------------- */
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}
@media screen and (max-width: 768.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}
.menu__item {
}
.menu__link {
  font-size: 13px;
  font-weight: 700;
  color: inherit;
  transition: color 300ms ease-in-out;
}
.menu__link:hover {
  text-decoration: underline;
  color: #ff9900;
}
/* --------------Main-page-header---------------- */

.main-block {
}
.main-block__container {
  padding-top: 183px;
  position: relative;
}
.main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  top: 0;
  left: 68%;
  height: 100%;
  width: 100%;
}
.main-block__body {
}
.main-block__partners {
}

.body-main-block {
  display: flex;
}
.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
}
.content-main-block__subtitle {
  color: #ff9900;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
}
.content-main-block__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;

  margin-bottom: 45px;
}
.content-main-block__body {
  padding-right: 80px;
}
.content-main-block__form {
}

.form-main-block {
    position: relative;
    z-index: 10;
    display: flex;
    height: 86px;
    margin-right: -188px;
    
  background: #fff url(./img/svg-partners/input-icon.svg) 33px 50% no-repeat;
  border: 1px solid #dadada;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.form-main-block__input {
    width: 100%;
    padding: 0px 0px 0px 74px;
    background-color: transparent;
    flex: 1 1 auto;
    
}
.content-main-block__button {
    cursor: pointer;
    width: 188px;
    flex: 0 0 188px;
    padding: 5px 15px;
    background-color: #F85A47;
    color: #fff;
    font-weight: 700;
font-size: 17px;
line-height: 23px;
letter-spacing: 0.01em;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0%;
}

.partners-main-block {
}
.partners-main-block__label {
}
.partners-main-block__items {
}
.partners-main-block__item {
}
/* ----------------------------- */
